/*Landing Page HW CSS*/


/*Font is Open Sans*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
	background-color: #fff
}

.hero{
	background-image: url("https://i.imgur.com/keY0xH2.jpg");
	width: auto;
	height: 699px;
	margin-top: 0px; 
}


h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 24px;
	color: #fff;
	text-align: left;
	margin-left: 50px;
	margin-top: 0px;
	padding-top: 20px;
}



.top {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.yellow{
		background-color: #f9e42e;
		font-family: 'Open Sans', sans-serif;
		font-weight: 800;
		font-size: 14px;
		color: #033048;
		text-align: center;
		border-radius: 5px;
		padding: 10px 20px;
}

.btn-yllw{
	margin-left: auto;
	margin-right: auto;
	width: 10%;
    padding: 10px;

}